.aside-left{
  border-right: 1px solid #EFECEC;
display: flex;
flex-direction: column;
padding: 54px 20px 40px 25px;
justify-content: space-between
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $color-blue;
  }
}
h4 {
  font-family: "Poppins";
  color: $color-blue;
  font-size: 0.87rem;
  line-height: 1.3125rem;

}
.nav__All_item {
  padding: 0 5px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .nav_item {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    img {
      width: 22px;
      height: 22px;
    }
    a {
      color: $color-grey-lighter;
      font-size: 0.87rem;
      line-height: 1.3125rem;
      &:hover {
        color: $color-black;
      }
    }
  }
}
.frame {
  display: flex;
  white-space: nowrap;
      align-items: flex-start;
      gap: 6.5px;
  div {
    display: flex;
    flex-direction: column;

    span {
      color: $color-grey-darker;
    }
    .frame__a {
      color: $color-grey-darker;
      font-size: 0.75rem;
      line-height: 1.12rem;

      &:hover {
        color: $color-black;
      }
    }
  }
  .frame__button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}
