@import './../../scss/colors.scss';
@import './../../scss/styles.scss';

.chart {
  margin: 32px 0 40px 0;
}
.chartLine {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 29px;
  height: 150px;
  justify-content: center;

  hr {
    width: 779px;
    border: none;
    height: 1px;
    z-index: 0;
    color: #ebecf1;
    border-bottom-style: dashed;
    margin: 0;
    padding: 0;
    &:nth-child(4) {
      border-bottom-style: solid;
      opacity: 80%;
    }
  }
}
.chart__table__frame {
  position: relative;
  z-index: 1;
  width: 16px;

  .frame-red {
    border-radius: 10px;
    background: #3629b7;
  }
  .frame-pink {
    border-radius: 10px;
    background: #fbb8ff;
    margin: 2px 0;
  }
  .frame-blue {
    border-radius: 10px;
    background: #ff4267;
  }
}
.chart__table {
  margin: 32px 0 10px 0;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 73px;
  justify-content: center;
}
.chart__title {
  display: flex;
  justify-content: space-between;
}
.chart__title__intake {
  display: flex;
  flex-direction: column;
  h6 {
    color: $color-grey-darker;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 8px;
  }
  span {
    color: $color-blue;
    font-size: 2rem;
    line-height: 1.75rem;
  }
}
.chart__title__glass {
  display: flex;
  flex-direction: row;
  gap: 16px;
  span {
    color: $color-black;
    font-size: 0.87rem;
    line-height: 1.31rem;
    display: flex;

    align-items: center;
    &:nth-child(1) {
      &::before {
        content: "•";
        color: $color-blue;
        font-size: 2rem;
      }
    }
    &:nth-child(2) {
      &::before {
        content: "•";
        color: #fbb8ff;
        font-size: 2rem;
      }
    }
    &:nth-child(3) {
      &::before {
        content: "•";
        color: #ff4267;
        font-size: 2rem;
      }
    }
  }
}
.chart__table__time {
  span {
    color: $color-grey-medium;
    font-size: 0.75rem;
    line-height: 1.12rem;
  }
  display: flex;
  gap: 57px;
  justify-content: center;
}
