$color-grey-darker: #494949;
$color-white: #ffffff;
$color-black: #000000;
$color-body: #f2ecdb;
$color-grey-lighter: #838383;
$color-blue: #3629b7;
$color-lite-grin: #edffef;
$color-lite-purpure: #f4f2ff;
$color-lite-brown: #fff2ec;
$color-white-lightBlue: #7b81a6;
$color-transparent: rgb(0, 0, 0, 0);
