.header {
  margin: 35px 0 25px 0 ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  display: flex;

  gap: 20px;
  max-width: 300px;
  max-height: 58px;
  padding: 19px 3px 20px 24px;

  input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.7143rem;
    color: $color-grey-darker;
    border: 0;
    padding: 0;
    outline: none;
    &::placeholder {
      font-size: 1rem;
      line-height: 1.7143rem;
      color: $color-grey-darker;
    }
  }
}
h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: $color-blue;
  font-weight: 400;
  white-space: nowrap;

  &::after {
    content: " Mathew!";
    font-weight: 600;
  }
}
