.sideBarRight {

  border-left: 1px solid #efecec;
  padding: 58px 40px 20px 32px;

}

button {
  color: $color-blue;
  background: $color-transparent;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 0;
  font-size: 1.12rem;
  line-height: 1.75rem;
}

.sideBarRight__cardOne {
  box-sizing: border-box;
  margin-top: 137px;
  padding: 53px 20px 41px 147px;

  position: relative;
  height: 214px;
  background-color: #1573ff;
  border-radius: 23.5px;
  z-index: 0;
  span {
    color: $color-white;
    font-size: 1.25rem;
    line-height: 1.67rem;
    font-weight: 100;
  }
}
.sideBarRight__cardOne__SVG {
  img {
    position: absolute;
    &:nth-child(1) {
      // bootel
      z-index: 2;
      bottom: 20px;
      left: 48px;
    }
    &:nth-child(2) {
      // wather
      z-index: 3;
      bottom: 26px;
      left: 52.5px;
    }
    &:nth-child(3) {
      // shadow
      z-index: 1;
      bottom: 0px;
      left: 12.6px;
    }
    &:nth-child(4) {
      // circle
      bottom: 0px;
      left: 23px;
    }
    &:nth-child(5) {
      // circle
      top: 0px;
      left: 0px;
    }
    &:nth-child(6) {
      // circle
      top: 0px;
      left: 0px;
    }
  }
}

.sideBarRight__cardTwo {
  box-sizing: border-box;

  height: 133px;
  background: #3546b1;
  padding: 31px 24px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: #f2f4f7;
  font-size: 1.25rem;
  line-height: 1.27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h5 {
    font-size: 1.25rem;
    line-height: 1.27rem;
  }
  span {
    font-weight: 600;
  }
}
.sideBarRight__cardTwo__SVG {
  svg {
    position: absolute;
    &:nth-child(1) {
      left: 0px;
      top: -1px;
    }
    &:nth-child(2) {
      left: 0px;
      top: -1px;
    }
    &:nth-child(3) {
      top: 26px;
      right: 52px;
    }
    &:nth-child(4) {
      right: 0px;
      bottom: 6px;
    }
    &:nth-child(5) {
      right: 0px;
      bottom: 1px;
    }
  }
}

.sideBarRight__cardThree {
  background: #f7f9fd;
  border-radius: 12px;
  padding: 24px 24px 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.sideBarRight__cardThree__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 0.75rem;
  line-height: 1.12rem;
  background-color: $color-white;
  border-radius: 12px;

  padding: 10px 14px;
  span {
    &:nth-child(1) {
      display: flex;
      align-items: flex-end;
      color: #3546b1;
    }
    &:nth-child(2) {
      color: $color-white-lightBlue;
    }
  }
}

.sideBarRight__cardThree__Drink {
  font-size: 1.12rem;
  line-height: 1.68rem;
  width: 100%;
  color: $color-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

}

.sideBarRight__cardAll{
display: flex;
flex-direction: column;
gap: 32px;
}