// $ sass --watch src/scss/styles.scss:src/css/styles.css
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./color.scss";
@import "./header.scss";
@import "./all_styles.scss";
@import "./main_style.scss";
@import "./sideBarLeft_style.scss";
@import "./sideBaRight_style.scss";
@import "./section_statistics.scss";

body {
  background: $color-body;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: normal;
}
.container {
  border-radius: 24px;
  background:  $color-white;
  display: grid;
  grid-template-columns: 248px 1fr 333px;
  grid-template-rows: 1fr;
  max-width: 1440px;
  margin: 0 auto;
}
