@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  background: #f2ecdb;
  font-family: "Poppins";
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: normal;
}

.container {
  border-radius: 24px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 248px 1fr 333px;
  grid-template-rows: 1fr;
  width: 1440px;
  margin: auto auto;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.chart {
  margin: 32px 0 40px 0;
}

.chartLine {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 29px;
  height: 150px;
  justify-content: center;
}
.chartLine hr {
  width: 779px;
  border: none;
  height: 1px;
  z-index: 0;
  color: #ebecf1;
  border-bottom-style: dashed;
  margin: 0;
  padding: 0;
}
.chartLine hr:nth-child(4) {
  border-bottom-style: solid;
  opacity: 80%;
}

.chart__table__frame {
  position: relative;
  z-index: 1;
  width: 16px;
}
.chart__table__frame .frame-red {
  border-radius: 10px;
  background: #3629b7;
}
.chart__table__frame .frame-pink {
  border-radius: 10px;
  background: #fbb8ff;
  margin: 2px 0;
}
.chart__table__frame .frame-blue {
  border-radius: 10px;
  background: #ff4267;
}

.chart__table {
  margin: 32px 0 10px 0;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 73px;
  justify-content: center;
}

.chart__title {
  display: flex;
  justify-content: space-between;
}

.chart__title__intake {
  display: flex;
  flex-direction: column;
}
.chart__title__intake h6 {
  color: #494949;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 8px;
}
.chart__title__intake span {
  color: #3629b7;
  font-size: 2rem;
  line-height: 1.75rem;
}

.chart__title__glass {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.chart__title__glass span {
  color: #000000;
  font-size: 0.87rem;
  line-height: 1.31rem;
  display: flex;
  align-items: center;
}
.chart__title__glass span:nth-child(1)::before {
  content: "•";
  color: #3629b7;
  font-size: 2rem;
}
.chart__title__glass span:nth-child(2)::before {
  content: "•";
  color: #fbb8ff;
  font-size: 2rem;
}
.chart__title__glass span:nth-child(3)::before {
  content: "•";
  color: #ff4267;
  font-size: 2rem;
}

.chart__table__time {
  display: flex;
  gap: 57px;
  justify-content: center;
}
.chart__table__time span {
  color: #8e8f8f;
  font-size: 0.75rem;
  line-height: 1.12rem;
}

.header {
  margin: 35px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  display: flex;
  gap: 20px;
  max-width: 300px;
  max-height: 58px;
  padding: 19px 3px 20px 24px;
}
.search input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.7143rem;
  color: #494949;
  border: 0;
  padding: 0;
  outline: none;
}
.search input::placeholder {
  font-size: 1rem;
  line-height: 1.7143rem;
  color: #494949;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #3629b7;
  font-weight: 400;
  white-space: nowrap;
}
h1::after {
  content: " Mathew!";
  font-weight: 600;
}

.main {
  padding: 0px 40px;
}

.aside-left {
  border-right: 1px solid #EFECEC;
  display: flex;
  flex-direction: column;
  padding: 54px 20px 40px 25px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 100px;
}
.logo span {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #3629b7;
}

h4 {
  font-family: "Poppins";
  color: #3629b7;
  font-size: 0.87rem;
  line-height: 1.3125rem;
}

.nav__All_item {
  padding: 0 5px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav__All_item .nav_item {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
}
.nav__All_item .nav_item img {
  width: 22px;
  height: 22px;
}
.nav__All_item .nav_item a {
  color: #838383;
  font-size: 0.87rem;
  line-height: 1.3125rem;
}
.nav__All_item .nav_item a:hover {
  color: #000000;
}

.frame {
  display: flex;
  white-space: nowrap;
  align-items: flex-start;
  gap: 6.5px;
}
.frame div {
  display: flex;
  flex-direction: column;
}
.frame div span {
  color: #494949;
}
.frame div .frame__a {
  color: #494949;
  font-size: 0.75rem;
  line-height: 1.12rem;
}
.frame div .frame__a:hover {
  color: #000000;
}
.frame .frame__button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sideBarRight {
  border-left: 1px solid #efecec;
  padding: 48px 40px 20px 32px;
}

button {
  color: #3629b7;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  gap: 12px;
  border: 0;
  font-size: 1.12rem;
  line-height: 1.75rem;
}

.sideBarRight__cardOne {
  box-sizing: border-box;
  margin-top: 137px;
  padding: 53px 20px 41px 147px;
  position: relative;
  height: 214px;
  background-color: #1573ff;
  border-radius: 23.5px;
  z-index: 0;
}
.sideBarRight__cardOne span {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.67rem;
  font-weight: 100;
}

.sideBarRight__cardOne__SVG img {
  position: absolute;
}
.sideBarRight__cardOne__SVG img:nth-child(1) {
  z-index: 2;
  bottom: 20px;
  left: 48px;
}
.sideBarRight__cardOne__SVG img:nth-child(2) {
  z-index: 3;
  bottom: 26px;
  left: 52.5px;
}
.sideBarRight__cardOne__SVG img:nth-child(3) {
  z-index: 1;
  bottom: 0px;
  left: 12.6px;
}
.sideBarRight__cardOne__SVG img:nth-child(4) {
  bottom: 0px;
  left: 23px;
}
.sideBarRight__cardOne__SVG img:nth-child(5) {
  top: 0px;
  left: 0px;
}
.sideBarRight__cardOne__SVG img:nth-child(6) {
  top: 0px;
  left: 0px;
}

.sideBarRight__cardTwo {
  box-sizing: border-box;
  height: 133px;
  background: #3546b1;
  padding: 31px 24px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: #f2f4f7;
  font-size: 1.25rem;
  line-height: 1.27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideBarRight__cardTwo h5 {
  font-size: 1.25rem;
  line-height: 1.27rem;
}
.sideBarRight__cardTwo span {
  font-weight: 600;
}

.sideBarRight__cardTwo__SVG svg {
  position: absolute;
}
.sideBarRight__cardTwo__SVG svg:nth-child(1) {
  left: 0px;
  top: -1px;
}
.sideBarRight__cardTwo__SVG svg:nth-child(2) {
  left: 0px;
  top: -1px;
}
.sideBarRight__cardTwo__SVG svg:nth-child(3) {
  top: 26px;
  right: 52px;
}
.sideBarRight__cardTwo__SVG svg:nth-child(4) {
  right: 0px;
  bottom: 6px;
}
.sideBarRight__cardTwo__SVG svg:nth-child(5) {
  right: 0px;
  bottom: 1px;
}

.sideBarRight__cardThree {
  background: #f7f9fd;
  border-radius: 12px;
  padding: 24px 24px 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.sideBarRight__cardThree__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 0.75rem;
  line-height: 1.12rem;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px 14px;
}
.sideBarRight__cardThree__item span:nth-child(1) {
  display: flex;
  align-items: flex-end;
  color: #3546b1;
}
.sideBarRight__cardThree__item span:nth-child(2) {
  color: #7b81a6;
}

.sideBarRight__cardThree__Drink {
  font-size: 1.12rem;
  line-height: 1.68rem;
  width: 100%;
  color: #3629b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.sideBarRight__cardAll {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper-one {
  grid-area: 1/1/2/4;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 12px;
  padding: 15px;
  background: #f7f9fd;
  white-space: nowrap;
  color: #11263c;
}
.wrapper-one .wrapper__span2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.7143rem;
}
.wrapper-one .wrapper__span2::after {
  content: " today!";
  font-weight: 400;
}
.wrapper-one .wrapper__span2::before {
  content: "It’s a ";
  font-weight: 400;
}
.wrapper-one span:last-child {
  border-left: 1px solid #efeff1;
  padding-left: 15px;
  color: #8e8f8f;
}

.wrapper-all {
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  gap: 20px;
  padding: 20px;
  position: relative;
}
.wrapper-all p:last-child {
  margin-top: 4px;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.15rem;
}

.line {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.wrapper-two {
  background: #edffef;
  grid-area: 2/1/3/2;
}
.wrapper-two p {
  color: #55a55e;
}

.wrapper-three {
  background: #f4f2ff;
  grid-area: 2/2/3/3;
}
.wrapper-three p {
  color: #5e5498;
}

.wrapper-four {
  background: #fff2ec;
  grid-area: 2/3/3/4;
}
.wrapper-four p {
  color: #9b715d;
}

.section_statistics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}

.hydrationTips {
  border: 1px solid #F2EEEE;
  padding: 24px 32px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 2.72px 3.71px 0px rgba(0, 0, 0, 0.083);
}

.hydrationTips__card {
  display: flex;
  gap: 24px;
}

.cardAll {
  border-radius: 16px;
  padding: 25px 30px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cardAll .circle-div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAll h5 {
  color: #494949;
  font-size: 1rem;
  line-height: 1.7143rem;
  font-weight: 500;
}
.cardAll p {
  font-size: 0.81rem;
  line-height: 1.25rem;
  color: #7b81a6;
}

.cardWatermelon {
  background: #edffef;
}

.cardOrange {
  background: #fff2ec;
}

.cardGrape {
  background: #f4f2ff;
}

.hydrationTips__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.hydrationTips__title h3 {
  color: #494949;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.87rem;
}
.hydrationTips__title p {
  color: #8e8f8f;
  font-size: 0.81rem;
  line-height: 1.22rem;
}
.hydrationTips__title button {
  color: #7b81a6;
  font-size: 1.12rem;
  line-height: 1.75rem;
  border: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hydrationTips__title button:hover {
  color: #000000;
}
.hydrationTips__title button svg {
  margin-left: 13px;
}

/*# sourceMappingURL=style.css.map */
